.sort-dropdown {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sort-dropdown button {
  padding: 10px;
  background-color: #2196f3;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.sort-dropdown button:hover {
  background-color: #1976d2;
}